.PeriodBox {
  box-shadow: 2.5px 5px 10px #888888;
  margin: 10px 20px;
  border-radius: 15px;
  background-color: rgb(106, 220, 106);
  display: flex;
  flex-flow: column;
  padding: 10px;
  text-transform: capitalize;
  width: 70%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.PeriodHeading {
  font-size: 20px;
  padding: 4px;
}

.Heading {
  display: flex;
  border-bottom: 1px solid #000000;
  justify-content: space-between;
}

.BoxContent {
  padding: 4px;
  text-align: right;
}

.Isfalse {
  background-color: rgb(215, 91, 91);
}
