.Navbar {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #683500;
  height: 60px;
  font-size: 1.4em;
  color: #fff;
  border-bottom: 3px solid #f3c200;
}

.DavisImg {
  height: 50px;
  margin-left: 5px;
}

.Hamburger {
  width: auto;
}

.Modal {
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #683500;
  display: flex;
  flex-flow: column;
}

.ModalText {
  font-size: 1.3em;
  color: #fff;
  margin: 30px;
  /* margin-right: auto; */
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.ModalText:last-child {
  color: #ffff56;
  border-color: #ffff56;
}

.Open-false {
  position: fixed;
  left: 110vw;
  transition: 200ms;
}

.Open-true {
  position: fixed;
  left: 0;
  transition: 200ms;
}
